<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @meeting['title'] %></title>
  </head>
<body>
<h2><center>会議名: <%= @meeting['title'] %></center></h2>
<%= header %>
<ul>
  <li>アジェンダ</li>
  <ol>
    <% @meeting['subject'].each_key do |subject| %>
      <li><%= subject %></li>
    <% end %>
  </ol>
  <li>出席者<br>
    <%= @meeting['member'].keys.join('/') %>
  </li>
  <li>日時・場所<br>
    <%= @meeting['date'] %><%= @meeting['time'] %><br>
    <%= @meeting['place'] %>
  </li>
  <li>TODO<br>
    <% @todo.each do |todo| todo['todo'] or next %>
      <%= todo['contents'] %> <%= todo['member'] %> <%= todo['deadline'] %><br>
    <% end %>
  </li>
</ul>
</body>
</html>

